.magical-attack{
    box-shadow: 2px 2px 2px 2px  black;
    width:240px;
    height:200px;
    border-radius: 100%;
    /* transition: 2s; */
}

.magical-attack:hover{
box-shadow: 1px 2px 2px 1px  gold;
transform: scale(0.95);
transform: 1s;
border:2px solid white;
}

.div-play-game-for-random-reward-duel{
    margin:0 auto;
}

.div-game-container{
    margin-left:10%;
}

.game-duel{
    display:flex;
    flex-wrap: wrap;
}

.magical-attack{
    border:2px solid black;
}

.cosmic-background{
    background-image: url('/images/background/cosmicBackground.jpg');
}