/* Futuristic Menu Styles with Hover Effects */

.div-menu {
    display: flex;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    background-color: #1e1e1e; /* Dark futuristic background color */
    border-radius: 10px; /* Rounded corners for a sleek look */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1); /* Futuristic glow effect */
    transition: background-color 0.3s ease; /* Smooth transition effect for hover */
}


.div-menu h1 {
    margin: 1rem;
    color: #61dafb; /* Futuristic blue text color */
    transition: color 0.3s ease; /* Smooth transition effect for hover */
}

.div-menu h1:hover {
    color: #ff00ff; /* Futuristic purple text color on hover */
    transform: scale(1.75);
    transition: 2s;
    z-index:10;
}

@media (max-width: 796px) {
    .div-menu {
        flex-direction: column;
        align-items: center;
    }

 
}